
@{
    ViewData["Title"] = "PageNotFound";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="auth-page-wrapper py-5 d-flex justify-content-center align-items-center min-vh-100">
     
    <div class="auth-page-content overflow-hidden p-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="text-center">
                        <img src="~/velzon/assets/images/error400-cover.png" alt="error img" class="img-fluid">
                        <div class="mt-3">
                            <h3 class="text-uppercase">Üzgünüz, Sayfa Bulunamadı 😭</h3>
                            <p class="text-muted mb-4">Aradığınız sayfa şu anda mevcut değil!</p>
                            <a class="btn btn-success" asp-action="Index" asp-controller="Signup"><i class="mdi mdi-home me-1"></i>Geri Dön</a> 
                        </div>
                    </div>
                </div><!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth-page content -->
</div>

